<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="projectmofit.mofit.domain.user.dao.FollowDao">

    <insert id="follow" parameterType="int">
        INSERT INTO follow (follower, following)
        VALUES (#{followerId}, #{followingId})
    </insert>

    <delete id="unfollow" parameterType="int">
        DELETE FROM follow
        WHERE follower = #{followerId}
            AND following = #{followingId}
    </delete>

    <select id="getFollowers" parameterType="int" resultType="User">
        SELECT F.follower AS id, U.nickname
        FROM `follow` F
        INNER JOIN `user` U
        ON F.follower = U.id
        WHERE F.following = #{followingId};
    </select>

    <select id="getFollowings" parameterType="int" resultType="User">
        SELECT F.following AS id, U.nickname
        FROM `follow` F
        INNER JOIN `user` U
        ON F.following = U.id
        WHERE F.follower = #{followerId};
    </select>

    <select id="followCheck">
        SELECT COUNT(*)
        FROM follow
        WHERE follower = #{id} AND following = #{other}
    </select>

</mapper>