<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="projectmofit.mofit.domain.user.dao.MyPageDao">

    <select id="findMyGroup" resultType="Group">
        SELECT G.group_id AS groupId, G.group_name AS groupName, G.type, G.info, G.img as byteImg
        FROM group_member M
        INNER JOIN `group` G
        ON M.group_id = G.group_id
        WHERE M.user_id = #{id}
    </select>

</mapper>

