<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>모임 만들기</h2>

    <form action="/group" th:object="${group}" method="POST">

        <div>
            <label for="groupName">모임 이름</label>
            <input type="text" id="groupName" th:field="*{groupName}" th:errorclass="field-error">
        </div>

        <div>
            <div>운동 종목</div>
            <select th:field="*{type}">
                <option value="">==운동 종목 선택==</option>
                <option th:each="type : ${types}" th:value="${type}"
                        th:text="${type}">운동 종목</option>
            </select>
        </div>

        <div>
            <div>활동 지역</div>
            <span th:each="region : ${regions}">
                <input type="checkbox" th:field="*{regions}" th:value="${region}">
                <label th:text="${region}">강남구</label>
            </span>
        </div>

        <div>
            <label for="info">모임 소개글</label>
            <input type="text" id="info" th:field="*{info}" th:errorclass="field-error">
        </div>

        <button type="submit">모임 만들기</button>

    </form>
</div>
</body>
</html>