<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>로그인</h2>

    <form action="/user/login" th:object="${loginForm}" method="POST">

        <div>
            <label for="email">이메일</label>
            <input type="email" id="email" th:field="*{email}" th:errorclass="field-error">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" th:errorclass="field-error">
        </div>

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
            th:text="${err}"></p>
        </div>

        <button type="submit">로그인</button>

    </form>
</div>
</body>
</html>