<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:if="${session.loginUser == null}">
        <a href="/user/login">로그인하기</a>
        <a href="/user/signup">회원가입하기</a>
    </div>
    <div th:if="${session.loginUser != null}">
        <a th:href="@{/user/{id}(id = ${session.loginUser.id})}">마이페이지</a>
        <a th:href="@{/user/logout}">로그아웃</a>
    </div>

    <h1>MoFIT</h1>

    <a th:href="@{/}">우리동네 모임 찾기</a>
    <a th:href="@{/}">내 모임 보기</a>

    <div th:if="${list != null}">
        <table>
            <td th:each="group : ${list}" th:text="${group.groupName}"></td>
        </table>
    </div>
</body>
</html>