<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .group-container {
            border: 1px solid gray;
            margin: 10px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div th:if="${session.loginUser == null}">
        <a href="/user/login">로그인하기</a>
        <a href="/user/signup">회원가입하기</a>
    </div>
    <div th:if="${session.loginUser != null}">
        <a th:href="@{/user/{id}(id = ${session.loginUser.id})}">마이페이지</a>
        <a th:href="@{/user/logout}">로그아웃</a>
    </div>

    <h1>MoFIT</h1>

    <a th:href="@{/}">우리동네 모임 찾기</a>
    <a th:href="@{/}">내 모임 보기</a>
    <a th:href="@{/group}">모임 만들기</a>

    <div th:if="${list != null}">
        <h2 th:text="|${region}에서 활동하는 모임입니다.|"></h2>
        <div th:each="group : ${list}" class="group-container">
            <h3 th:text="${group.groupName}">모임 이름</h3>
            <p>활동 지역 :
                <span th:each="region : ${group.regions}" th:text="|${region} |"></span>
            </p>
        </div>
    </div>
</body>
</html>