<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="projectmofit.mofit.domain.board.dao.BoardDao">
    <select id="selectAll" parameterType="int" resultType="Board">
        SELECT `index`, group_id as groupId, content, writer, `date`
        FROM board
        WHERE group_id = #{groupId}
    </select>

    <select id="selectOne" parameterType="int" resultType="Board">
        SELECT `index`, group_id as groupId, content, writer, `date`
        FROM board
        WHERE `index` = #{index}
    </select>

    <insert id="insertBoard" parameterType="Board">
        INSERT INTO board (group_id,content,writer)
        VALUES (#{groupId}, #{content}, #{writer})
    </insert>

    <update id="updateBoard" parameterType="Board">
        UPDATE board
        SET content=#{content}, date=now()
        WHERE `index` = #{index}
    </update>

    <delete id="deleteBoard" parameterType="int">
        DELETE FROM board
        WHERE `index` = #{index}
    </delete>

    <delete id="deleteComment" parameterType="int">
        DELETE FROM comment_board
        WHERE `board_idx` = #{index}
    </delete>
</mapper>