<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="projectmofit.mofit.domain.group.dao.GroupDao">

    <insert id="insertGroup" parameterType="Group">
        INSERT INTO `group` (group_name, type, info)
        VALUES (#{groupName}, #{type}, #{info})
    </insert>

    <insert id="insertRegion" parameterType="string">
        INSERT INTO group_region
        VALUES ((SELECT group_id FROM `group` WHERE group_name = #{groupName}),
                #{region})
    </insert>

    <select id="groupNameCheck" parameterType="string">
        SELECT COUNT(*)
        FROM `group`
        WHERE group_name = #{groupName}
    </select>

    <select id="findGroupById" resultType="Group">
        SELECT group_id AS groupId, group_name AS groupName, type, info
        FROM `group`
        WHERE group_id = #{groupId}
    </select>

    <select id="findGroupByGroupName" parameterType="string" resultType="Group">
        SELECT group_id AS groupId, group_name AS groupName, type, info
        FROM `group`
        WHERE group_name = #{groupName}
    </select>

    <select id="findGroupByRegion" parameterType="string" resultType="Group">
        SELECT DISTINCT G.group_id AS groupId, group_name AS groupName, type, info
        FROM `group` G
        INNER JOIN group_region R
        ON G.group_id = R.group_id
        WHERE R.region = #{region}
    </select>

    <select id="findRegions" parameterType="int" resultType="string">
        SELECT region
        FROM group_region
        WHERE group_id = #{groupId}
    </select>

    <insert id="insertGroupLeader" parameterType="int">
        INSERT INTO group_member
        VALUES (#{userId}, #{groupId}, '운영진')
    </insert>

</mapper>

