<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="projectmofit.mofit.domain.group.dao.GroupDao">

    <insert id="insertGroup" parameterType="Group">
        INSERT INTO group (group_name, type, info)
        VALUES (#{groupName}, #{type}, #{info})
    </insert>

    <select id="findGroupByRegion" parameterType="string" resultType="Group">
        SELECT DISTINCT group_name AS groupName, type, info
        FROM `group` G
        INNER JOIN group_region R
        ON G.group_id = R.group_id
        WHERE R.region = #{region}
    </select>

</mapper>

