<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="projectmofit.mofit.domain.notice.dao.NoticeDao">
    <select id="selectAll" parameterType="int" resultType="Notice">
        SELECT `index`, group_id as groupId, title, content, writer, `date`
        FROM notice
        WHERE group_id = #{groupId}
    </select>

    <select id="selectOne" parameterType="int" resultType="Notice">
        SELECT `index, group_id as groupId, title, content, writer, `date`
        FROM notice
        WHERE `index` = #{index}
    </select>

    <insert id="insertNotice" parameterType="Notice">
        INSERT INTO notice (group_id,title,content,writer)
        VALUES (#{groupId}, #{title}, #{content}, #{writer})
    </insert>

    <update id="updateNotice" parameterType="Notice">
        UPDATE notice
        SET `title`=#{title}, content=#{content}, date=now()
        WHERE `index` = #{index}
    </update>

    <delete id="deleteNotice" parameterType="int">
        DELETE FROM notice
        WHERE `index` = #{index}
    </delete>

    <delete id="deleteComment" parameterType="int">
        DELETE FROM comment_notice
        WHERE `notice_idx` = #{index}
    </delete>
</mapper>