<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="projectmofit.mofit.domain.user.dao.UserDao">

    <select id="findById" parameterType="int" resultType="User">
        SELECT * FROM user
        WHERE id = #{id}
    </select>

    <select id="findByEmail" parameterType="string" resultType="User">
        SELECT * FROM user
        WHERE email = #{email}
    </select>

    <insert id="insertUser" parameterType="User">
        INSERT INTO user (email, password, name, nickname)
        VALUES (#{email}, #{password}, #{name}, #{nickname})
    </insert>

    <select id="nicknameCheck" parameterType="string">
        SELECT COUNT(*) FROM user
        WHERE nickname = #{nickname}
    </select>

</mapper>
